$bg: #2A363B;
$iSize: 20%;
$iRadius: 50%;
$color1: #99B898;
$fontfam: 'Open Sans', sans-serif;

body {
	background-color: $bg;
}

#avatar {
	width: $iSize;
	height: $iSize;
	border-radius: $iRadius;
}

section {
	padding-top: 5%;
	padding-left: 30%;
	padding-right: 10%;
}

div {
	padding-top: 5%;
	padding-left: 20%;
	padding-right: 10%;
}

article {
    float: right;
    margin-right: 10%;
    width: 67%;
    heigth: 100%;
    }

h1 {
	color: $color1;
	font-size: 50px;
	margin-top: 25px;
	margin-bottom: 0px;
	padding-bottom: 5px;
	font-family: $fontfam;
}

h2 {
	color: $color1;
	font-size: 30px;
	margin-top: 25px;
	margin-bottom: 0px;
	padding-bottom: 5px;
	font-family: $fontfam;	
    border-left: 10px solid #99B898;
    background-color: gray;
    width: 85%;
}

p {
	margin: 0px;
	padding: 0px;
	color: $color1;
	font-family: $fontfam;
}

ul {
	padding-top: 3%;
	padding-bottom: 3%;
	margin-bottom: 0px;
	margin-top:0px;
	list-style-type:none;
}

li {
	margin: .09px;
	padding: .09px;
	color: $color1;
	font-family: $fontfam;
}